@use '../abstracts/variables' as *;
@use '../abstracts/utilities' as *;
@use '../abstracts/mixins' as *;

// ---------------------------------------------
// LAYOUT: CONTAINER
// ---------------------------------------------
// Used for global layout positioning and responsive spacing
// Applies consistent max-width, padding, and vertical alignment
// ---------------------------------------------

.app {
  margin-inline: auto;
  margin-bottom: $spacing-1500;
  padding-inline: $spacing-400;
  max-width: 92rem;
  @include flex-column(center, center);

  &__header {
    text-align: center;
    margin-block: $space-1630 $spacing-600;
    width: 100%;
  }

  &__logo {
    @include flex-column(center, center);

    &-part {
      font-size: 3.5rem;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      color: $grey-600;
      display: inline-block;
    }
  }

  // Bill container
  &__content {
    background-color: $white;
    border-radius: 2.5rem;
    padding-block: $spacing-400;
    padding-inline: 4rem;
    box-shadow: 0px 3.2rem 4.3rem rgba(79, 166, 175, 0.200735);
    width: 100%;
    gap: $spacing-600;
    @include flex-space-between-center;
    flex-wrap: nowrap;
    align-items: stretch;

    > * {
      flex: 1 1 47%;
      max-width: 47%;
    }
  }
}

@media (max-width: $breakpoint-md) {
  .app__content {
    flex-direction: column;

    > * {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }
}
