.tip-buttons {
  width: 100%;
  gap: $spacing-200;
  @include flex-space-between-center;
}

.tip-button {
  flex: 0 0 30%;
  max-width: 30%;
  @include tip-button;

  &:not(.tip-button--custom):hover,
  &:not(.tip-button--custom):focus,
  &:not(.tip-button--custom):active {
    background-color: $color-primary;
    color: $color-primary-deep;
  }

  &--custom {
    padding-inline: 1rem;
    background-color: $color-bg-muted;
    color: $grey-550;

    &::placeholder {
      color: $grey-400;
      opacity: 1;
    }
  }

  @media (max-width: $breakpoint-md) {
    flex: 0 0 45%;
    max-width: 45%;
  }

  @media (max-width: $breakpoint-xs) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
