@use '../abstracts/variables' as *;

// ---------------------------------------------
// TYPOGRAPHY
// ---------------------------------------------

// Headings

h1,
h2,
h3,
h4 {
  margin: 0;
}

// Paragraphs
p {
  margin: 0;
}

// Emphasis
strong {
  font-weight: $font-weight-bold;
}

// Anchor tags (optional)
a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
